<div class='new-order-form'>
  <% if @order.errors.any? %>
    <div class='error'>
      <% @order.errors.messages.each do |attr, message| %>
        <div><%= "#{attr.capitalize} #{message.first}" %></div>
      <% end %>
    </div>
  <% end %>
  <div class='inner'>
    <%= form_tag '/orders', method: :post do %>
      <div class='orders-sub text-label'>
        <%= label_tag "Your name" %>
        <%= text_field_tag 'orders[name]' %>
      </div>
      <div class='orders-sub text-label'>
        <%= label_tag "Phone number" %>
        <%= text_field_tag 'orders[phone]' %>
      </div>
      <% Oyster.all.each do |oyster| %>
        <div class='orders-sub text-label'>
          <%= label_tag oyster.name %>
          <%= number_field_tag "orders[oysters][#{oyster.name}]", 0, class: 'number-input', in: 0..5 %>
        </div>
      <% end %>
      <div class='orders-sub'>
        <%= submit_tag 'Submit order', class: 'orders-button' %>
      </div>
    <% end %>
  </div>
</div>
