<div class='new-order-form'>
  <%= form_tag '/orders', method: :post do %>
    <div class='orders-sub text-label'>
      <div class='col-half left'>
        <%= label_tag "Your name" %>
      </div>
      <div class='col-half right'>
        <%= text_field_tag 'orders[name]' %>
      </div>
    </div>
    <div class='orders-sub text-label'>
      <div class='col-half left'>
        <%= label_tag "Phone number" %>
      </div>
      <div class='col-half right'>
        <%= text_field_tag 'orders[phone]' %>
      </div>
    </div>
    <% Oyster.all.each do |oyster| %>
      <div class='orders-sub text-label'>
        <div class='col-half left'>
          <%= label_tag oyster.name %>
        </div>
        <div class='col-half right'>
          <%= number_field_tag "orders[oysters][#{oyster.name}]", in: 0..5 %>
        </div>
      </div>
    <% end %>
    <div class='orders-sub'>
      <div class='col-half left'></div>
      <div class='col-half right'>
        <%= submit_tag 'Submit order', class: 'orders-button' %>
      </div>
    </div>
  <% end %>
</div>
